.review-card{
background:#F2F2F2;
border-radius:40px;
padding:30px;
margin:28px auto;
width:520px;
cursor:pointer;
transition:transform .15s ease;
}

.review-card:hover{
transform:scale(1.01);
}

.review-top{
display:flex;
justify-content:space-between;
align-items:flex-start;
}

.review-icon{
width:40px;
height:40px;
border-radius:50%;
}

.review-icon.correct{
background:#5E8774;
}

.review-icon.incorrect{
background:#F28C8C;
}

.review-arrow{
text-align:center;
font-size:26px;
margin-top:10px;
}

.review-details{
display:none;
margin-top:20px;
}
